--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
transformers==4.45.2
accelerate==1.0.1
pycocotools==2.0.8
torchmetrics==1.4.3
albumentations==1.4.18